RemoveDefault()
    appearance: none
    border:none
    outline: none


test(c,border = false)
    if( border == true )
        border 1px solid c
    else 
        background-color:#FFA500

usetest()
    test(red,false)