*
    margin 0
    padding:0

html 
    width 100%
    height 100%
body
    background:#fff url(../images/bg.jpg) no-repeat fixed center center/ cover
    font: 14px 'microsoft yehei'
    font-weight: 300
    width 100%
    height 100%